/*==========  Desktop First Method  ==========*/
/*==========  Mobile First Method  ==========*/
#block_links {
  background-color: #396B62;
  margin-bottom: 10px; }
  #block_links .wrap_block_links {
    background-color: #fff;
    border: 3px solid #4EC698;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    padding: 10px;
    padding-bottom: 20px; }
    #block_links .wrap_block_links h3 {
      margin-top: 15px;
      margin-left: 10px;
      font-size: 20px;
      color: #4EC698;
      text-transform: uppercase; }
    #block_links .wrap_block_links ul {
      margin-left: 20px;
      margin-bottom: 15px;
      padding-left: 20px; }
      #block_links .wrap_block_links ul li {
        list-style-type: square;
        color: #396B62; }
        #block_links .wrap_block_links ul li a {
          color: #396B62;
          text-decoration: none; }
          #block_links .wrap_block_links ul li a:hover {
            color: #4EC698; }
    #block_links .wrap_block_links .blank {
      padding: 5px; }

/*==========  Desktop First Method  ==========*/
/*==========  Mobile First Method  ==========*/
#footer {
  padding-top: 10px;
  background-color: #1d1d1d;
  padding-bottom: 20px; }
  #footer .wrap_footer {
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: #43484C;
    border-bottom: 1px dashed #fff;
    border-top: 1px dashed #fff; }
    #footer .wrap_footer .foot_block {
      padding: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      color: #fff; }
      #footer .wrap_footer .foot_block img {
        width: 200px;
        margin-left: 30px; }
      #footer .wrap_footer .foot_block h3 {
        color: #4EC698;
        margin-bottom: 10px; }
      #footer .wrap_footer .foot_block p {
        color: #fff; }
      #footer .wrap_footer .foot_block i {
        color: #33FFCC;
        font-size: 22px;
        margin-right: 20px; }
      #footer .wrap_footer .foot_block i.fa.fa-envelope-o {
        font-size: 16px;
        margin-right: 15px; }
      #footer .wrap_footer .foot_block span {
        color: yellow; }
      #footer .wrap_footer .foot_block ul {
        padding: 10px; }
        #footer .wrap_footer .foot_block ul li {
          margin-bottom: 10px; }
  #footer .all_reserve {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center; }
    #footer .all_reserve p {
      color: #fff; }
    #footer .all_reserve img {
      width: 32px;
      height: 32px;
      margin-right: 20px; }

/*==========  Desktop First Method  ==========*/
/*==========  Mobile First Method  ==========*/
#header .header_content {
  background-color: #4EC698;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  #header .header_content .wrap_site_info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    padding-bottom: 20px; }
    @media only screen and (max-width: 768px) {
      #header .header_content .wrap_site_info {
        padding-bottom: 0px;
        margin-top: -10px; } }
    #header .header_content .wrap_site_info h1 {
      color: #fff;
      font-size: 72px;
      font-family: 'RobotoBold', sans-serif;
      font-weight: bold;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
      @media only screen and (max-width: 1200px) {
        #header .header_content .wrap_site_info h1 {
          font-size: 66px; } }
      @media only screen and (max-width: 992px) {
        #header .header_content .wrap_site_info h1 {
          font-size: 62px;
          margin-top: 15px; } }
    #header .header_content .wrap_site_info .phone {
      color: yellow;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
      @media only screen and (max-width: 1200px) {
        #header .header_content .wrap_site_info .phone {
          margin-top: -7px; } }
      @media only screen and (max-width: 992px) {
        #header .header_content .wrap_site_info .phone {
          margin-top: -10px; } }
      #header .header_content .wrap_site_info .phone i {
        font-size: 22px;
        margin-right: 10px; }
        @media only screen and (max-width: 1200px) {
          #header .header_content .wrap_site_info .phone i {
            font-size: 18px;
            margin-right: 8px; } }
      #header .header_content .wrap_site_info .phone span {
        font-size: 18px;
        font-weight: bold; }
        @media only screen and (max-width: 1200px) {
          #header .header_content .wrap_site_info .phone span {
            font-size: 16px; } }
  #header .header_content .wrap_slogan_info {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding-top: 10px; }
    #header .header_content .wrap_slogan_info h3 {
      color: #fff;
      font-size: 28px;
      font-weight: bold;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
      @media only screen and (max-width: 1200px) {
        #header .header_content .wrap_slogan_info h3 {
          font-size: 26px; } }
      @media only screen and (max-width: 992px) {
        #header .header_content .wrap_slogan_info h3 {
          font-size: 24px;
          padding-top: 0px;
          margin-top: 15px; } }
      @media only screen and (max-width: 768px) {
        #header .header_content .wrap_slogan_info h3 {
          margin-top: 0px;
          text-align: center;
          font-size: 20px; } }
    #header .header_content .wrap_slogan_info span {
      color: yellow;
      margin-left: -180px;
      margin-top: 7px;
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
      font-size: 18px; }
      @media only screen and (max-width: 1200px) {
        #header .header_content .wrap_slogan_info span {
          margin-left: -115px;
          margin-top: -3px;
          font-size: 16px; } }
      @media only screen and (max-width: 992px) {
        #header .header_content .wrap_slogan_info span {
          margin-left: 0px; } }
      @media only screen and (max-width: 768px) {
        #header .header_content .wrap_slogan_info span {
          text-align: center;
          font-size: 14px; } }
  #header .header_content .battons {
    margin-top: 25px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
    @media only screen and (max-width: 768px) {
      #header .header_content .battons {
        margin-top: 5px; } }
    #header .header_content .battons a {
      text-decoration: none;
      font-size: 20px;
      background-color: #396B62;
      margin: 5px;
      padding: 7px;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      color: #fff;
      text-align: center;
      display: block;
      float: right;
      cursor: pointer;
      border: 1px solid #fff;
      width: 75%;
      -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
              box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
      text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
      @media only screen and (max-width: 1200px) {
        #header .header_content .battons a {
          font-size: 18px;
          margin: 4px;
          padding: 6px; } }
      @media only screen and (max-width: 992px) {
        #header .header_content .battons a {
          font-size: 16px;
          margin: 3px;
          padding: 5px;
          width: 100%; } }
      #header .header_content .battons a:hover {
        color: yellow;
        border: 1px solid yellow; }
      #header .header_content .battons a i {
        padding-right: 5px;
        font-size: 22px; }
        @media only screen and (max-width: 992px) {
          #header .header_content .battons a i {
            font-size: 18px; } }
  #header .header_content .wrap_panel {
    display: block;
    background-color: #373b3e;
    margin: 10px 15px;
    margin-top: -10px;
    padding: 5px;
    height: 40px;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    border: 1px solid #fff;
    -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12); }
    @media only screen and (max-width: 1200px) {
      #header .header_content .wrap_panel {
        height: 35px; } }
    #header .header_content .wrap_panel .search {
      padding-left: 5px;
      margin-right: -17px;
      margin-top: -6px; }
      #header .header_content .wrap_panel .search .input-group {
        border: 1px solid yellow;
        -webkit-border-radius: 3px;
                border-radius: 3px;
        position: relative; }
        #header .header_content .wrap_panel .search .input-group i {
          position: absolute;
          left: 10px;
          top: 5px;
          z-index: 100;
          color: #4EC698;
          font-size: 24px; }
          @media only screen and (max-width: 1200px) {
            #header .header_content .wrap_panel .search .input-group i {
              top: 3px;
              font-size: 20px; } }
        #header .header_content .wrap_panel .search .input-group input {
          padding-left: 40px;
          padding-top: 10px;
          width: 100%;
          height: 30px;
          -webkit-border-bottom-left-radius: 3px;
                  border-bottom-left-radius: 3px;
          -webkit-border-top-left-radius: 3px;
                  border-top-left-radius: 3px; }
          @media only screen and (max-width: 1200px) {
            #header .header_content .wrap_panel .search .input-group input {
              height: 25px;
              padding-left: 30px;
              padding-top: 0px;
              padding-bottom: 0px;
              font-size: 14px; } }
        #header .header_content .wrap_panel .search .input-group button {
          height: 30px;
          background-color: #396B62;
          -webkit-border-bottom-right-radius: 3px;
                  border-bottom-right-radius: 3px;
          -webkit-border-top-right-radius: 3px;
                  border-top-right-radius: 3px; }
          @media only screen and (max-width: 1200px) {
            #header .header_content .wrap_panel .search .input-group button {
              height: 25px;
              padding-top: 3px; } }
          #header .header_content .wrap_panel .search .input-group button:hover {
            color: yellow;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
    #header .header_content .wrap_panel .wrap_run_str {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 40px;
      margin-top: -8px; }
      @media only screen and (max-width: 1200px) {
        #header .header_content .wrap_panel .wrap_run_str {
          margin-top: -11px; } }
      #header .header_content .wrap_panel .wrap_run_str .icons {
        color: #fff;
        margin-right: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-left: -10px; }
        #header .header_content .wrap_panel .wrap_run_str .icons .sm {
          margin-right: -7px; }
        #header .header_content .wrap_panel .wrap_run_str .icons .fa-2x {
          color: #4EC698; }
        #header .header_content .wrap_panel .wrap_run_str .icons .fa-lg {
          margin-left: -6px; }
      #header .header_content .wrap_panel .wrap_run_str .run_str {
        color: #06fc23; }
        #header .header_content .wrap_panel .wrap_run_str .run_str span {
          color: yellow;
          margin-right: 10px;
          text-transform: uppercase; }

/*==========  Desktop First Method  ==========*/
/*==========  Mobile First Method  ==========*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

body {
  background-color: #396B62; }

a {
  text-decoration: none; }
  a.active {
    color: yellow; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/*==========  Desktop First Method  ==========*/
/*==========  Mobile First Method  ==========*/
#header {
  -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12); }
  #header .navbar {
    background-color: #43484C;
    margin-bottom: 0px;
    -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12); }
    #header .navbar .active {
      color: yellow; }
    #header .navbar .menu_icon .wrap_icon {
      padding-top: 10px;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start; }
      #header .navbar .menu_icon .wrap_icon i {
        cursor: pointer;
        font-size: 24px;
        color: #fff;
        width: 30px;
        height: 30px;
        margin-left: 5px;
        margin-right: 25px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
      #header .navbar .menu_icon .wrap_icon .run_string {
        color: #06fc23;
        height: 30px; }
        #header .navbar .menu_icon .wrap_icon .run_string span {
          color: yellow;
          text-transform: uppercase; }
    #header .navbar .wrapper_nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 50px; }
      #header .navbar .wrapper_nav .home_icon {
        height: 100%;
        color: #fff;
        font-size: 22px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-bottom: 2px; }
        @media only screen and (max-width: 1200px) {
          #header .navbar .wrapper_nav .home_icon {
            font-size: 20px; } }
        @media only screen and (max-width: 992px) {
          #header .navbar .wrapper_nav .home_icon {
            font-size: 18px; } }
        #header .navbar .wrapper_nav .home_icon a {
          color: #fff; }
          #header .navbar .wrapper_nav .home_icon a.active {
            color: yellow; }
        #header .navbar .wrapper_nav .home_icon:hover a {
          color: yellow; }
      #header .navbar .wrapper_nav > ul {
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 15px;
        width: 100%; }
        @media only screen and (max-width: 1200px) {
          #header .navbar .wrapper_nav > ul {
            padding-left: 10px; } }
        @media only screen and (max-width: 992px) {
          #header .navbar .wrapper_nav > ul {
            padding-left: 5px; } }
        #header .navbar .wrapper_nav > ul > li {
          padding-right: 25px;
          text-transform: uppercase;
          color: #fff;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
          @media only screen and (max-width: 1200px) {
            #header .navbar .wrapper_nav > ul > li {
              padding-right: 15px; } }
          @media only screen and (max-width: 992px) {
            #header .navbar .wrapper_nav > ul > li {
              padding-right: 10px; } }
          #header .navbar .wrapper_nav > ul > li:first-child {
            padding-left: 3px; }
          #header .navbar .wrapper_nav > ul > li a {
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
            @media only screen and (max-width: 1200px) {
              #header .navbar .wrapper_nav > ul > li a {
                font-size: 14px; } }
            @media only screen and (max-width: 992px) {
              #header .navbar .wrapper_nav > ul > li a {
                font-size: 12px; } }
            #header .navbar .wrapper_nav > ul > li a:hover, #header .navbar .wrapper_nav > ul > li a.active {
              color: yellow; }
          #header .navbar .wrapper_nav > ul > li.active {
            color: yellow; }
          #header .navbar .wrapper_nav > ul > li.dropdown {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            position: relative; }
            #header .navbar .wrapper_nav > ul > li.dropdown span {
              font-size: 18px;
              text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
              cursor: pointer; }
              @media only screen and (max-width: 1200px) {
                #header .navbar .wrapper_nav > ul > li.dropdown span {
                  font-size: 14px; } }
              @media only screen and (max-width: 992px) {
                #header .navbar .wrapper_nav > ul > li.dropdown span {
                  font-size: 12px; } }
              #header .navbar .wrapper_nav > ul > li.dropdown span:hover {
                color: yellow; }
            #header .navbar .wrapper_nav > ul > li.dropdown i {
              padding-left: 5px;
              font-size: 12px; }
              @media only screen and (max-width: 1200px) {
                #header .navbar .wrapper_nav > ul > li.dropdown i {
                  font-size: 10px; } }
              @media only screen and (max-width: 992px) {
                #header .navbar .wrapper_nav > ul > li.dropdown i {
                  font-size: 8px; } }
            #header .navbar .wrapper_nav > ul > li.dropdown:hover i {
              color: yellow; }
            #header .navbar .wrapper_nav > ul > li.dropdown:hover ul {
              visibility: visible;
              top: 38px;
              opacity: 1;
              background-color: #4f555a; }
            #header .navbar .wrapper_nav > ul > li.dropdown ul {
              margin: 0;
              padding: 0;
              list-style: none;
              -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
                      box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                      flex-direction: column;
              -webkit-align-content: flex-start;
                  -ms-flex-line-pack: start;
                      align-content: flex-start;
              position: absolute;
              top: 38px;
              left: 0;
              min-width: 300px;
              background-color: #43484C;
              z-index: 10;
              visibility: hidden;
              -webkit-transition: all .3s;
              -o-transition: all .3s;
              transition: all .3s; }
              #header .navbar .wrapper_nav > ul > li.dropdown ul > li {
                padding: 5px 15px;
                cursor: pointer;
                border-bottom: 1px dotted #fff; }
                #header .navbar .wrapper_nav > ul > li.dropdown ul > li:hover a {
                  color: yellow; }
                #header .navbar .wrapper_nav > ul > li.dropdown ul > li a {
                  text-transform: none; }
                  #header .navbar .wrapper_nav > ul > li.dropdown ul > li a.active {
                    color: yellow; }
  #header .mobile_menu {
    background-color: #4a5054;
    width: 100%; }
    #header .mobile_menu .search {
      margin-top: 10px; }
    #header .mobile_menu .btn-success {
      background-color: #396B62; }
      #header .mobile_menu .btn-success:hover {
        color: yellow;
        border: 1px solid yellow; }
    #header .mobile_menu ul {
      padding: 2px;
      background-color: #fff;
      margin-top: 10px;
      margin-bottom: 10px;
      -webkit-border-radius: 3px;
              border-radius: 3px;
      -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
              box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12); }
      #header .mobile_menu ul li {
        padding: 5px 15px;
        background-color: #396B62;
        border-bottom: 1px dotted #fff;
        width: 100%;
        cursor: pointer;
        text-transform: uppercase; }
        #header .mobile_menu ul li:last-child {
          border-bottom: none; }
        #header .mobile_menu ul li a {
          display: block;
          width: 100%;
          color: #fff;
          text-decoration: none; }
          #header .mobile_menu ul li a:hover {
            color: yellow; }
        #header .mobile_menu ul li .title {
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
              -ms-flex-pack: justify;
                  justify-content: space-between;
          -webkit-box-align: center;
          -webkit-align-items: center;
              -ms-flex-align: center;
                  align-items: center; }
          #header .mobile_menu ul li .title.active {
            color: yellow; }
            #header .mobile_menu ul li .title.active span, #header .mobile_menu ul li .title.active i {
              color: yellow; }
          #header .mobile_menu ul li .title:hover {
            color: yellow; }
            #header .mobile_menu ul li .title:hover span {
              color: yellow; }
            #header .mobile_menu ul li .title:hover i {
              color: yellow; }
          #header .mobile_menu ul li .title span {
            color: #fff; }
          #header .mobile_menu ul li .title i {
            color: #fff;
            font-size: 22px; }
        #header .mobile_menu ul li ul {
          margin: 0;
          padding: 0;
          list-style: none;
          background-color: #4EC698;
          padding: 2px;
          margin-top: 5px; }
          #header .mobile_menu ul li ul li {
            background-color: #4EC698; }
            #header .mobile_menu ul li ul li a {
              font-size: 12px; }
              #header .mobile_menu ul li ul li a.active {
                color: yellow; }

/*==========  Desktop First Method  ==========*/
/*==========  Mobile First Method  ==========*/
#news {
  background-color: #396B62; }
  #news .wrap_news {
    margin: 0;
    padding: 0;
    border: 3px solid #4EC698;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    background-color: #fff;
    padding: 10px;
    margin-bottom: 10px; }
    #news .wrap_news h1 {
      margin: 0;
      padding: 0;
      color: #4EC698;
      font-size: 22px;
      padding: 5px 20px;
      font-family: 'RobotoRegular', sans-serif;
      text-transform: uppercase; }
    #news .wrap_news .top_article {
      padding: 10px;
      width: 100%;
      height: 400px;
      position: relative; }
      #news .wrap_news .top_article:hover .content {
        top: 0px;
        height: 400px; }
        #news .wrap_news .top_article:hover .content .title {
          border-bottom: 2px dotted #396B62; }
        #news .wrap_news .top_article:hover .content .text {
          visibility: visible;
          padding-left: 10px; }
      #news .wrap_news .top_article .image {
        padding: 3px;
        width: 100%;
        height: 300px;
        overflow: hidden;
        border: 1px solid #43484C; }
        #news .wrap_news .top_article .image img {
          width: 100%;
          height: 100%; }
      #news .wrap_news .top_article .content {
        position: absolute;
        padding: 10px;
        padding-top: 0px;
        top: 310px;
        left: 0;
        height: 100px;
        overflow: hidden;
        background-color: #fff;
        -webkit-transition: all .8s;
        -o-transition: all .8s;
        transition: all .8s; }
        #news .wrap_news .top_article .content .title {
          margin: 0;
          padding: 5px; }
          #news .wrap_news .top_article .content .title .date {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex; }
            #news .wrap_news .top_article .content .title .date .day {
              padding-right: 5px; }
            #news .wrap_news .top_article .content .title .date .month {
              padding-right: 5px; }
          #news .wrap_news .top_article .content .title h2 {
            margin: 0;
            padding: 0;
            padding-top: 5px;
            font-size: 20px;
            color: #131516;
            height: 50px;
            overflow: hidden; }
            #news .wrap_news .top_article .content .title h2 a {
              color: #131516;
              text-decoration: none; }
              #news .wrap_news .top_article .content .title h2 a:hover {
                color: #396B62; }
        #news .wrap_news .top_article .content .text {
          padding: 5px;
          visibility: hidden;
          max-height: 230px;
          overflow: hidden; }
          #news .wrap_news .top_article .content .text a {
            color: #4EC698; }
        #news .wrap_news .top_article .content .link {
          margin-top: 10px;
          margin-left: 10px;
          padding: 3px;
          background-color: #396B62;
          width: 130px;
          -webkit-border-radius: 5px;
                  border-radius: 5px; }
          #news .wrap_news .top_article .content .link a {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            text-decoration: none;
            -webkit-justify-content: space-around;
                -ms-flex-pack: distribute;
                    justify-content: space-around;
            color: #fff; }
            #news .wrap_news .top_article .content .link a:hover {
              color: yellow; }
              #news .wrap_news .top_article .content .link a:hover i {
                color: yellow; }
            #news .wrap_news .top_article .content .link a i {
              margin-top: 3px;
              padding-right: 5px;
              color: #4EC698;
              font-size: 16px;
              color: #fff; }
            #news .wrap_news .top_article .content .link a span {
              font-size: 16px; }
    #news .wrap_news .articles {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-justify-content: space-around;
          -ms-flex-pack: distribute;
              justify-content: space-around;
      padding: 10px; }
      #news .wrap_news .articles .article {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        height: 150px;
        overflow: hidden;
        position: relative;
        margin-bottom: 10px; }
        #news .wrap_news .articles .article:hover .art_img {
          visibility: hidden;
          top: 100%; }
        #news .wrap_news .articles .article:hover .art_cont .date {
          visibility: hidden;
          top: 100%; }
        #news .wrap_news .articles .article:hover .art_cont .title {
          visibility: hidden;
          top: 100%; }
        #news .wrap_news .articles .article:hover .art_cont .art_text {
          visibility: visible;
          left: 5px;
          top: 0px; }
        #news .wrap_news .articles .article:hover .art_cont .link {
          visibility: visible;
          top: 115px; }
        #news .wrap_news .articles .article .art_img {
          position: absolute;
          top: 0;
          left: 5px;
          padding: 3px;
          width: 200px;
          height: 140px;
          border: 1px solid #43484C;
          margin-right: 15px;
          -webkit-transition: all .8s;
          -o-transition: all .8s;
          transition: all .8s; }
          #news .wrap_news .articles .article .art_img img {
            width: 100%;
            height: 100%; }
        #news .wrap_news .articles .article .art_cont {
          padding: 3px; }
          #news .wrap_news .articles .article .art_cont .date {
            opacity: .7;
            position: absolute;
            top: 0px;
            left: 220px;
            font-size: 16px;
            -webkit-transition: all .8s;
            -o-transition: all .8s;
            transition: all .8s; }
          #news .wrap_news .articles .article .art_cont .title {
            position: absolute;
            left: 220px;
            top: 30px;
            -webkit-transition: all .8s;
            -o-transition: all .8s;
            transition: all .8s; }
            #news .wrap_news .articles .article .art_cont .title h3 {
              margin: 0;
              padding: 0;
              font-size: 20px; }
              #news .wrap_news .articles .article .art_cont .title h3 a {
                color: #131516;
                text-decoration: none; }
                #news .wrap_news .articles .article .art_cont .title h3 a:hover {
                  color: #396B62; }
          #news .wrap_news .articles .article .art_cont .art_text {
            padding: 0;
            position: absolute;
            top: 100%;
            left: 5px;
            visibility: hidden;
            -webkit-transition: all .8s;
            -o-transition: all .8s;
            transition: all .8s;
            max-height: 120px;
            overflow: hidden; }
          #news .wrap_news .articles .article .art_cont .link {
            margin-top: 5px;
            padding: 3px;
            position: absolute;
            top: 100%;
            left: 5px;
            visibility: hidden;
            -webkit-transition: all .8s;
            -o-transition: all .8s;
            transition: all .8s;
            background-color: #396B62;
            -webkit-border-radius: 5px;
                    border-radius: 5px;
            width: 130px;
            -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
                    box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12); }
            #news .wrap_news .articles .article .art_cont .link a {
              text-decoration: none;
              color: #fff;
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-align: center;
              -webkit-align-items: center;
                  -ms-flex-align: center;
                      align-items: center;
              -webkit-justify-content: space-around;
                  -ms-flex-pack: distribute;
                      justify-content: space-around; }
              #news .wrap_news .articles .article .art_cont .link a:hover {
                color: yellow; }
              #news .wrap_news .articles .article .art_cont .link a i {
                margin-top: 3px;
                margin-left: 5px;
                font-size: 16px; }
    #news .wrap_news .all_news {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
          -ms-flex-pack: center;
              justify-content: center; }
      #news .wrap_news .all_news button {
        padding: 5px 10px;
        background-color: #396B62;
        -webkit-border-radius: 5px;
                border-radius: 5px; }
        #news .wrap_news .all_news button:hover {
          color: yellow;
          -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
                  box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12); }
          #news .wrap_news .all_news button:hover a {
            color: yellow; }
        #news .wrap_news .all_news button a {
          color: #fff; }
          #news .wrap_news .all_news button a:hover {
            color: yellow; }

/*==========  Desktop First Method  ==========*/
/*==========  Mobile First Method  ==========*/
#slider {
  background-color: #396B62; }
  #slider .slider_wrapper {
    position: relative;
    height: 180px;
    background-color: #fff;
    border: 3px solid #4EC698;
    -webkit-border-radius: 3px;
            border-radius: 3px;
    padding: 10px;
    -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    margin-bottom: 10px; }
    #slider .slider_wrapper .owl-carousel {
      margin-left: 51px;
      margin-top: 4px;
      width: 1022px; }
      @media only screen and (max-width: 1200px) {
        #slider .slider_wrapper .owl-carousel {
          margin-left: 80px;
          width: 751px; } }
      @media only screen and (max-width: 992px) {
        #slider .slider_wrapper .owl-carousel {
          margin-left: 120px;
          width: 500px; } }
      @media only screen and (max-width: 480px) {
        #slider .slider_wrapper .owl-carousel {
          margin-left: 120px; } }
      @media only screen and (max-width: 320px) {
        #slider .slider_wrapper .owl-carousel {
          margin-left: 40px; } }
    #slider .slider_wrapper .item {
      width: 250px;
      height: 180px; }
      #slider .slider_wrapper .item img {
        width: 222px;
        height: 150px; }
    #slider .slider_wrapper .owl-controls {
      position: absolute;
      top: 0px;
      left: 0px;
      z-index: 100;
      width: 100%; }
      #slider .slider_wrapper .owl-controls .owl-nav {
        position: relative;
        width: 100%;
        height: 100%; }
        #slider .slider_wrapper .owl-controls .owl-nav .owl-prev {
          position: absolute;
          top: 0px;
          left: 0px;
          width: 40px;
          height: 174px;
          cursor: pointer;
          background-image: -webkit-linear-gradient(right, transparent 0px, rgba(78, 198, 152, 0.5) 100%);
          background-image: -o-linear-gradient(right, transparent 0px, rgba(78, 198, 152, 0.5) 100%);
          background-image: linear-gradient(to left, transparent 0px, rgba(78, 198, 152, 0.5) 100%); }
          #slider .slider_wrapper .owl-controls .owl-nav .owl-prev:hover i {
            color: yellow;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
          #slider .slider_wrapper .owl-controls .owl-nav .owl-prev i {
            position: absolute;
            top: 70px;
            left: 0px;
            z-index: 101;
            color: #4EC698; }
        #slider .slider_wrapper .owl-controls .owl-nav .owl-next {
          position: absolute;
          top: 0px;
          right: 0px;
          width: 40px;
          height: 174px;
          cursor: pointer;
          background-image: -webkit-linear-gradient(left, transparent 0px, rgba(78, 198, 152, 0.5) 100%);
          background-image: -o-linear-gradient(left, transparent 0px, rgba(78, 198, 152, 0.5) 100%);
          background-image: linear-gradient(to right, transparent 0px, rgba(78, 198, 152, 0.5) 100%); }
          #slider .slider_wrapper .owl-controls .owl-nav .owl-next:hover i {
            color: yellow;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
          #slider .slider_wrapper .owl-controls .owl-nav .owl-next i {
            position: absolute;
            top: 70px;
            right: 0px;
            z-index: 101;
            color: #4EC698; }
