/*==========  Desktop First Method  ==========*/
/*==========  Mobile First Method  ==========*/
@import url("https://fonts.googleapis.com/css?family=Roboto");
html, body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px; }

body {
  background-color: #396B62; }

a {
  text-decoration: none; }
  a.active {
    color: yellow; }

ul {
  margin: 0;
  padding: 0;
  list-style: none; }

/*==========  Desktop First Method  ==========*/
/*==========  Mobile First Method  ==========*/
#header {
  -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
          box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12); }
  #header .navbar {
    background-color: #43484C;
    margin-bottom: 0px;
    -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12); }
    #header .navbar .active {
      color: yellow; }
    #header .navbar .menu_icon {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: start;
      -webkit-justify-content: flex-start;
          -ms-flex-pack: start;
              justify-content: flex-start;
      padding-top: 5px; }
      #header .navbar .menu_icon i {
        cursor: pointer;
        font-size: 24px;
        color: #fff;
        padding: 5px;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
    #header .navbar .wrapper_nav {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -webkit-align-items: center;
          -ms-flex-align: center;
              align-items: center;
      height: 50px; }
      #header .navbar .wrapper_nav .home_icon {
        height: 100%;
        color: #fff;
        font-size: 22px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        padding-bottom: 2px; }
        @media only screen and (max-width: 1200px) {
          #header .navbar .wrapper_nav .home_icon {
            font-size: 20px; } }
        @media only screen and (max-width: 992px) {
          #header .navbar .wrapper_nav .home_icon {
            font-size: 18px; } }
        #header .navbar .wrapper_nav .home_icon a {
          color: #fff; }
          #header .navbar .wrapper_nav .home_icon a.active {
            color: yellow; }
        #header .navbar .wrapper_nav .home_icon:hover a {
          color: yellow; }
      #header .navbar .wrapper_nav > ul {
        height: 100%;
        margin: 0;
        padding: 0;
        list-style: none;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        padding-left: 15px;
        width: 100%; }
        @media only screen and (max-width: 1200px) {
          #header .navbar .wrapper_nav > ul {
            padding-left: 10px; } }
        @media only screen and (max-width: 992px) {
          #header .navbar .wrapper_nav > ul {
            padding-left: 5px; } }
        #header .navbar .wrapper_nav > ul > li {
          padding-right: 25px;
          text-transform: uppercase;
          color: #fff;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex; }
          @media only screen and (max-width: 1200px) {
            #header .navbar .wrapper_nav > ul > li {
              padding-right: 15px; } }
          @media only screen and (max-width: 992px) {
            #header .navbar .wrapper_nav > ul > li {
              padding-right: 10px; } }
          #header .navbar .wrapper_nav > ul > li:first-child {
            padding-left: 3px; }
          #header .navbar .wrapper_nav > ul > li a {
            color: #fff;
            text-decoration: none;
            font-size: 18px;
            text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6); }
            @media only screen and (max-width: 1200px) {
              #header .navbar .wrapper_nav > ul > li a {
                font-size: 14px; } }
            @media only screen and (max-width: 992px) {
              #header .navbar .wrapper_nav > ul > li a {
                font-size: 12px; } }
            #header .navbar .wrapper_nav > ul > li a:hover, #header .navbar .wrapper_nav > ul > li a.active {
              color: yellow; }
          #header .navbar .wrapper_nav > ul > li.active {
            color: yellow; }
          #header .navbar .wrapper_nav > ul > li.dropdown {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -webkit-align-items: center;
                -ms-flex-align: center;
                    align-items: center;
            position: relative; }
            #header .navbar .wrapper_nav > ul > li.dropdown span {
              font-size: 18px;
              text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
              cursor: pointer; }
              @media only screen and (max-width: 1200px) {
                #header .navbar .wrapper_nav > ul > li.dropdown span {
                  font-size: 14px; } }
              @media only screen and (max-width: 992px) {
                #header .navbar .wrapper_nav > ul > li.dropdown span {
                  font-size: 12px; } }
              #header .navbar .wrapper_nav > ul > li.dropdown span:hover {
                color: yellow; }
            #header .navbar .wrapper_nav > ul > li.dropdown i {
              padding-left: 5px;
              font-size: 12px; }
              @media only screen and (max-width: 1200px) {
                #header .navbar .wrapper_nav > ul > li.dropdown i {
                  font-size: 10px; } }
              @media only screen and (max-width: 992px) {
                #header .navbar .wrapper_nav > ul > li.dropdown i {
                  font-size: 8px; } }
            #header .navbar .wrapper_nav > ul > li.dropdown:hover i {
              color: yellow; }
            #header .navbar .wrapper_nav > ul > li.dropdown:hover ul {
              visibility: visible;
              top: 38px;
              opacity: .8; }
            #header .navbar .wrapper_nav > ul > li.dropdown ul {
              margin: 0;
              padding: 0;
              list-style: none;
              -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
                      box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
              display: -webkit-box;
              display: -webkit-flex;
              display: -ms-flexbox;
              display: flex;
              -webkit-box-orient: vertical;
              -webkit-box-direction: normal;
              -webkit-flex-direction: column;
                  -ms-flex-direction: column;
                      flex-direction: column;
              -webkit-align-content: flex-start;
                  -ms-flex-line-pack: start;
                      align-content: flex-start;
              position: absolute;
              top: 38px;
              left: 0;
              min-width: 300px;
              background-color: #43484C;
              z-index: 10;
              visibility: hidden;
              -webkit-transition: all .3s;
              -o-transition: all .3s;
              transition: all .3s; }
              #header .navbar .wrapper_nav > ul > li.dropdown ul > li {
                padding: 5px 15px;
                cursor: pointer;
                border-bottom: 1px dotted #fff; }
                #header .navbar .wrapper_nav > ul > li.dropdown ul > li:hover a {
                  color: yellow; }
                #header .navbar .wrapper_nav > ul > li.dropdown ul > li a {
                  text-transform: none; }
                  #header .navbar .wrapper_nav > ul > li.dropdown ul > li a.active {
                    color: yellow; }
  #header .mobile_menu {
    background-color: #4a5054;
    width: 100%; }
    #header .mobile_menu #mob_menu {
      padding: 10px;
      -webkit-border-radius: .3em;
              border-radius: .3em; }
      #header .mobile_menu #mob_menu .item {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        color: #fff;
        background-color: #396B62;
        padding-left: 15px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-right: 10px;
        width: 100%;
        border-bottom: 1px dotted #fff;
        cursor: pointer;
        text-transform: uppercase;
        font-size: 16px; }
        #header .mobile_menu #mob_menu .item:hover {
          color: yellow; }
        #header .mobile_menu #mob_menu .item a {
          display: block;
          color: #fff;
          text-decoration: none;
          width: 100%; }
          #header .mobile_menu #mob_menu .item a:hover {
            color: yellow; }
      #header .mobile_menu #mob_menu .collapse {
        background-color: #4EC698; }
        #header .mobile_menu #mob_menu .collapse ul {
          margin: 0;
          padding: 0;
          list-style: none;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -webkit-flex-direction: column;
              -ms-flex-direction: column;
                  flex-direction: column;
          -webkit-box-align: start;
          -webkit-align-items: flex-start;
              -ms-flex-align: start;
                  align-items: flex-start;
          padding: 10px; }
          #header .mobile_menu #mob_menu .collapse ul li {
            padding: 3px;
            padding-left: 10px;
            cursor: pointer;
            width: 100%;
            border-bottom: 1px dashed #fff; }
            #header .mobile_menu #mob_menu .collapse ul li:hover {
              background-color: #396B62;
              -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
                      box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12); }
            #header .mobile_menu #mob_menu .collapse ul li a {
              color: #fff;
              display: block;
              width: 100%;
              text-decoration: none; }
              #header .mobile_menu #mob_menu .collapse ul li a:hover {
                color: yellow; }

/*==========  Desktop First Method  ==========*/
/*==========  Mobile First Method  ==========*/
#slider {
  background-color: #4EC698; }
  #slider .slider_wrapper {
    height: 300px;
    -webkit-box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12);
            box-shadow: 0 10px 20px -12px rgba(0, 0, 0, 0.42), 0 3px 20px 0 rgba(0, 0, 0, 0.12); }
