@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

#header {
  .header_content{
    background-color:$green-light;
    width: 100%;
    display: flex;
    align-items: center;
    //height: 200px;

    .wrap_site_info{
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 20px;

      h1 {
        color: $white;
        font-size: 72px;
        font-family: 'RobotoBold', sans-serif;
        font-weight: bold;
        @include shadow_text;
        @include devices-max-width-1200px{
          font-size: 66px;
        }
        @include devices-max-width-992px{
          font-size: 62px;
          margin-top: 15px;
        }

      }
      .phone{
        color: $yellow;
        display: flex;
        align-items: center;
        @include shadow_text;
        @include devices-max-width-1200px{
          margin-top: -7px;
        }
        @include devices-max-width-992px{
          margin-top: -10px;
        }

        i{
          font-size: 22px;
          margin-right: 10px;
          @include devices-max-width-1200px{
            font-size: 18px;
            margin-right: 8px;
          }
        }
        span{
          font-size: 18px;
          font-weight: bold;
          @include devices-max-width-1200px{
            font-size: 16px;
          }
        }
      }
    }

    .wrap_slogan_info{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      padding-top: 10px;

      h3{
        color: $white;
        font-size: 28px;
        font-weight: bold;
        @include shadow_text;
        @include devices-max-width-1200px{
          font-size: 26px;
        }
        @include devices-max-width-992px{
          font-size: 24px;
          padding-top: 0px;
          margin-top: 15px;
        }
      }
      span{
        color: $yellow;
        margin-left: -180px;
        margin-top: 7px;
        @include shadow_text;
        font-size: 18px;

        @include devices-max-width-1200px{
          margin-left: -115px;
          margin-top: -3px;
          font-size: 16px;
        }
        @include devices-max-width-992px{
          margin-left: 0px;
        }
      }
    }

    .battons{
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      a {
        text-decoration: none;
        font-size:20px;
        background-color: $green;
        margin: 5px;
        padding: 7px;
        border-radius: 3px;
        color: $white;
        text-align: center;
        display: block;
        float: right;
        cursor: pointer;
        border: 1px solid $white;
        @include shadow_block;
        @include shadow_text;

        @include devices-max-width-1200px{
          font-size:18px;
          margin: 4px;
          padding: 6px;
        }
        @include devices-max-width-992px{
          font-size:16px;
          margin: 3px;
          padding: 5px;
        }

        &:hover{
          color: $yellow;
          border: 1px solid $yellow;
        }

        i {
          padding-right: 5px;
          font-size: 22px;

          @include devices-max-width-992px{
            font-size:18px;
          }
        }
      }
    }
  }


}