@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

#header {
  .wrap_header{
    background-color: $green-light;

    .container{
      display: flex;
      flex-direction: column;

      .header_content{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        flex-wrap: wrap;

        .logo{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          width: 240px;

          h1{
            @include clear;
            color: $white;
            font-size: 92px;
            font-family: RobotoBold,sans-serif;
            @include shadow_text;
          }
          .phone{
            display: flex;
            align-items: center;
            color: $yellow;
            @include shadow_text;
            font-size: 20px;
            font-family: Roboto, sans-serif;

            i{
              font-size:24px;
              margin-right: 10px;
            }
          }
        }

        .site_title{
          display: flex;
          flex-direction: column;
          margin-left: 20px;
          width: 500px;

          h2{
            @include clear;
            color: $white;
            font-size: 32px;
            font-family: Roboto, sans-serif;
            @include shadow_text;
          }

          span{
            color: $yellow;
            font-size: 18px;
            padding-top: 2px;
            @include shadow_text;
          }
        }

        .buttons{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: flex-end;
          width: 200px;
          margin-left: auto;
          margin-bottom: -45px;

          a{
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: $green;
            border: 1px solid $white;
            border-radius: 3px;
            color: $white;
            text-decoration: none;
            padding: 5px;
            margin-bottom: 10px;
            font-size:20px;
            @include shadow_text;
            @include shadow_block;

            &:hover{
              color: $yellow;
              border: 1px solid $yellow;
            }

            i{
              margin-right: 10px;
              font-size: 22px;
            }
          }

        }
      }

      .meta_info{
        display: flex;
        align-items: center;
        margin-top: -5px;

        .phone{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 240px;
          color: $yellow;
          font-size: 20px;
          @include shadow_text;

          i{
            font-size:24px;
            margin-right: 10px;
          }
        }

        .slogan{
          color: $yellow;
          font-size: 20px;
          @include shadow_text;
          margin-left: 20px;
        }
      }

      .panel{
        display: flex;
        align-items: center;
        background-color: $grey;
        margin-top: 10px;
        padding: 2px;
        height: 40px;
        border: 1px solid $white;
        border-radius: 3px;
        @include shadow_block;

        .icons{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 50px;

          i{
            color: $white;

            &.fa-chevron-right{
              font-size:16px;
              margin-right: -7px;
            }

            &.fa-2x{
              font-size: 32px;
              color: $green-light;
              margin-right: -5px;
            }

            &.fa-lg{
              font-size:18px ;
            }
          }
        }

        .run_string{
          color: $green3;
          width: 600px;
          font-size: 22px;
        }

        .search{
          margin-left:auto;
          display: flex;
          align-items: center;
          border: 2px solid $green-light;
          border-radius: 3px;
          background-color: $white;

          i{
            margin-left: 5px;
            margin-right: 5px;
            font-size: 20px;
            color: $green-light;
          }
          input{
            border: none;
          }
          button{
            background-color:$green;
            border: 1px solid $green-light;
            border-radius: 3px;
            color: $white;

            &:hover{
              color: $yellow;
              border: 1px solid $yellow;
            }

          }
        }
      }
    }
  }
}