@import "partitions/variables";
@import "partitions/mixins";

#header {
  @include shadow_block;

  .navbar {
    background-color: $grey;


    .wrapper_nav {
      display: flex;
      align-items: center;
      height: 50px;

      .home_icon {
        color: $white;
        font-size: 22px;

        a {
          color: $white;
          &:hover {
            color: $yellow;
          }
          &.active {
            color: $yellow;
          }
        }

      }
      ul {
        @include clear-list;
        display: flex;
        flex-wrap: wrap;

        li {
          @include clear;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 5px 15px;
          position: relative;
          cursor: pointer;

          &:hover {
            span, i{
              color: $yellow;
            }
            ul.dropdown {
              opacity: 1;
              display: flex;
            }
          }
          span {
            @include clear;
            color: $white;
            text-transform: uppercase;

          }
          i {
            align-self: flex-start;
            margin-left: 5px;
            color: $white;
          }

          .dropdown {
            //display: flex;
            display: none;
            flex-direction: column;
            flex-wrap: wrap;
            position: absolute;
            min-width: 350px;
            top: 39px;
            left: 0;
            background-color: $orange;
            transition: .5s all;
            opacity: 0;
            @include shadow_block;
            z-index: 100;

            li {
              //width: 100%;
              //height: 100%;
              cursor: pointer;
              flex-basis: auto;

              &:hover {
                a {
                  color: $yellow;
                }
              }
            }
          }

          a {
            position: relative;
            color: $white;
            text-transform: uppercase;
            text-decoration: none;
            @include shadow_text;

            &:hover {
              color: $yellow;

            }

            &.active {
              color: $yellow;
            }
          }
        }
      }
    }
  }
}





