@import "partitions/variables";
@import "partitions/mixins";

#header {
  @include shadow_block;

  .navbar {
    background-color: $grey;

    .active {
      color: $yellow;
    }

    .wrapper_nav {
      display: flex;
      align-items: center;
      height: 50px;

      .home_icon {
        height: 40px;
        width: 40px;
        color: $white;
        font-size: 24px;
        display: flex;
        align-items: center;
        justify-content: center;

        a {
          color: $white;

          &.active {
            color: $yellow;
          }
        }

        &:hover {
          a {
            color: $yellow;
          }
        }
      }
      > ul {
        @include clear-list;
        display: flex;
        align-items: center;
        height: 40px;
        width: 100%;

        > li {
          padding-right: 25px;
          text-transform: uppercase;
          color: $white;

          &:first-child {
            padding-left: 3px;
          }

          a {
            color: $white;
            text-decoration: none;
            @include shadow_text;

            &:hover, &.active {
              color: $yellow;
            }

          }

          &.active {
            color: $yellow;
          }

          &.dropdown {
            display: flex;
            align-items: center;
            position: relative;

            //&:last-child {
            //  background-color: $orange;
            //
            //  &:hover {
            //    li.dropdown ul {
            //      display: none;
            //    }
            //  }
            //}

            span {
              @include shadow_text;
              cursor: pointer;

              &:hover {
                color: $yellow;
              }
            }

            i {
              padding-left: 5px;
              font-size: 12px;
            }

            &:hover {
              i {
                color: $yellow;
              }
              ul {
                visibility: visible;
                top: 38px;
                opacity: .8;
              }
            }

            ul {
              @include clear-list;
              @include shadow_block;
              display: flex;
              flex-direction: column;
              align-content: flex-start;
              position: absolute;
              top: 38px;
              left: 0;
              min-width: 300px;
              background-color: $grey;
              z-index: 10;
              visibility: hidden;
              //opacity: 0;
              transition: all .3s;

              > li {
                padding: 5px 15px;
                cursor: pointer;
                border-bottom: 1px dotted $white;

                &:hover {

                  a {
                    color: $yellow;
                  }
                }

                a {
                  text-transform: none;
                  &.active {
                    color: $yellow;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}













