@import "partitions/variables";
@import "partitions/mixins";
@import "partitions/media";

#header {
  @include shadow_block;

  .navbar {
    background-color: $grey;

    .active {
      color: $yellow;
    }

    .menu_icon{
      display: flex;
      align-items: center;
      justify-content: flex-start;
      padding: 10px;
      cursor: pointer;

      i{
        font-size: 24px;
        color: $white;
        padding: 5px;
        //border: 1px solid $white;
        background-color: lighten($grey,15%);
        @include shadow_block
      }
    }

    .wrapper_nav {
      display: flex;
      align-items: center;
      height: 50px;

      .home_icon {
        height: 100%;
        //width: 40px;
        color: $white;
        font-size: 22px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-bottom: 2px;
        @include devices-max-width-1200px{
          font-size: 20px;
          //height: 35px;
          //width: 35px;
        }
        @include devices-max-width-992px{
          font-size: 18px;
          //height: 30px;
          //width: 30px;
        }

        a {
          color: $white;

          &.active {
            color: $yellow;
          }
        }

        &:hover {
          a {
            color: $yellow;
          }
        }
      }
      > ul {
        height: 100%;
        @include clear-list;
        display: flex;
        align-items: center;
        padding-left: 15px;
        @include devices-max-width-1200px{
          padding-left: 10px;
        }
        @include devices-max-width-992px{
          padding-left: 5px;
        }
        //height: 40px;
        width: 100%;

        > li {
          padding-right: 25px;
          text-transform: uppercase;
          color: $white;
          display: flex;
          @include devices-max-width-1200px{
            padding-right: 15px;
          }
          @include devices-max-width-992px{
            padding-right: 10px;
          }

          &:first-child {
            padding-left: 3px;
          }

          a {
            color: $white;
            text-decoration: none;
            font-size:18px;
            @include shadow_text;
            @include devices-max-width-1200px{
              font-size:14px;
            }
            @include devices-max-width-992px{
              font-size:12px;
            }

            &:hover, &.active {
              color: $yellow;
            }

          }

          &.active {
            color: $yellow;
          }

          &.dropdown {
            display: flex;
            align-items: center;
            position: relative;

            span {
              font-size:18px;
              @include shadow_text;
              cursor: pointer;

              @include devices-max-width-1200px{
                font-size:14px;
              }
              @include devices-max-width-992px{
                font-size:12px;
              }

              &:hover {
                color: $yellow;
              }
            }

            i {
              padding-left: 5px;
              font-size: 12px;
              @include devices-max-width-1200px{
                font-size: 10px;
              }
              @include devices-max-width-992px{
                font-size: 8px;
              }
            }

            &:hover {
              i {
                color: $yellow;
              }
              ul {
                visibility: visible;
                top: 38px;
                opacity: .8;
              }
            }

            ul {
              @include clear-list;
              @include shadow_block;
              display: flex;
              flex-direction: column;
              align-content: flex-start;
              position: absolute;
              top: 38px;
              left: 0;
              min-width: 300px;
              background-color: $grey;
              z-index: 10;
              visibility: hidden;
              //opacity: 0;
              transition: all .3s;

              > li {
                padding: 5px 15px;
                cursor: pointer;
                border-bottom: 1px dotted $white;

                &:hover {

                  a {
                    color: $yellow;
                  }
                }

                a {
                  text-transform: none;
                  &.active {
                    color: $yellow;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}













